
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-color: rgba(255, 126, 90, 0.557);
}
h1{
    background-color: rgba(189, 44, 0, 0.744);
    padding: 10px;
}
li {
  padding: 30px;
  display: flex;
  /* flex-wrap: wrap; */
  width: 70%;
  align-items: center;
  justify-content: center;
  /* height: aouto; */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 10px;
  color: white;
  border: 5px solid  rgba(148, 36, 1, 0.744);
  background-color: rgba(248, 104, 60, 0.744);
  cursor: pointer;
}
li:hover{
  background-color: rgba(189, 44, 0, 0.744);

}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  gap:5px;

}
.container{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}